header h1 {
  font-size: 100px;
}

h2 {
  font-size: 60px;
}
/* TEAM */

.school_team {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas: "h2 h2 h2 h2" "bast kelly laird surfeuse" "jerem mj tony tom";
}

/* FORM */

.formulaire {
  background-image: url(../images/resa.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 700px;
  align-items: center;
}
